<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Percentile</title>
</head>
<body>
    <main id="app">
        <article>
            <section>
                <h2>Data Points</h2>
                <label>
                    <h3>Metric Name</h3>
                    <input type="text" v-model="metricName">
                </label>
                <label>
                    <h3>Unit</h3>
                    <input type="text" v-model="metricUnit">
                </label>
                <label>
                    <h3>Count</h3>
                    <input type="number" min="10" max="10000" step="10" v-model.number.lazy="dataCount">
                </label>
                <label>
                    <h3>Min Value</h3>
                    <input type="number" v-model.number.lazy="min">
                </label>
                <label>
                    <h3>Max Value</h3>
                    <input type="number" v-model.number.lazy="max">
                </label>
            </section>
            <section>
                <h2>SLI</h2>
                <h3>Good</h3>
                <h4>Lower Bound Type</h4>
                <article>
                    <section>SLO_Lower_Bound</section>
                    <section>
                        <select v-model="sli.lowerBoundType">
                            <option value="">No lower bound</option>
                            <option value="gt">&gt;</option>
                            <option value="ge">&ge;</option>
                        </select>        
                    </section>
                    <section>{{ metricName }}</section>
                </article>
                <h4>Upper Bound Type</h4>
                <article>
                    <section>{{ metricName }}</section>
                    <section>
                        <select v-model="sli.upperBoundType">
                            <option value="">No upper bound</option>
                            <option value="lt">&lt;</option>
                            <option value="le">&le;</option>
                        </select>        
                    </section>
                    <section>
                        SLO_Upper_Bound
                    </section>
                </article>
            </section>
            <section>
                <div>
                    <label>
                        <h2>SLO</h2>
                        <input type="range" :min="config.slo.min" :max="config.slo.max" :step="config.slo.step" v-model.number="slo.value">
                        {{ slo.value }}%
                    </label>
                </div>
                <div>
                    <label>
                        <h3>Window Length</h3>
                        <input type="range" min="1" :max="sloWindowDataCountMax" step="1" v-model.number="slo.windowDataCount">
                        {{ slo.windowDataCount }} data points
                    </label>
                </div>    
                <h3>SLO Good Bounds</h3>

                <div v-if="sli.lowerBoundType">
                    <h3>Lower Bound Threshold: {{ slo.lowerBoundThreshold }}</h3>
                    <input type="range" :min="min" :max="slo.upperBoundThreshold" v-model.number="slo.lowerBoundThreshold">
                </div>

                <div v-if="sli.upperBoundType">
                    <h3>Upper Bound Threshold: {{ slo.upperBoundThreshold }}</h3>
                    <input type="range" :min="slo.lowerBoundThreshold" :max="max" v-model.number="slo.upperBoundThreshold">
                </div>
                
                <div>
                    <h3>Good</h3>
                    <code>
                        <span v-if="sli.lowerBoundType">
                            {{ slo.lowerBoundThreshold }} {{ boundTypeToString(sli.lowerBoundType) }}
                        </span>
                        &nbsp;
                        <span> {{ metricName }} </span>
                        &nbsp;
                        <span v-if="sli.upperBoundType">
                            {{ boundTypeToString(sli.upperBoundType) }} {{ slo.upperBoundThreshold }}
                        </span>
                    </code>
                </div>
            </section>
        </article>

        <div>
            <section>
                <h2>Metric Data</h2>
                <button @click="generateData">Generate Data</button>
                <plot-2d-component
                    :points="metricDataPoints"
                    :padding="[30, 100, 50, 110]"
                    :guides="[...sloThresholds, ...meanMedianGuides]"
                    :label-render-y="unitRender"
                    axis-title-x="Index"
                    :axis-title-y="metricName"></plot-2d-component>
            </section>
        </div>

        <tabs-component v-model:selected-tab="selectedTab" :tab-names="[
                'Generator',
                'Percentile',
                'Service',
                'Incidents',
                'Analytics',
                'JSON Data',
            ]"></tabs-component>

        <div class="tab-content" v-if="selectedTab === 'Generator'">
            <h3>Output</h3>
            <label>
                <input type="checkbox" v-model.boolean="onlyInt"> Only integers
            </label>
            <h3>Presets</h3>
                    <button v-for="pre in config.slider.presets" @click="frequencies = [...pre.values]">{{ pre.name }}</button>
                    <plot-2d-component
                        :points="equalizerPoints"
                        :padding="[30, 100, 50, 90]"
                        :guides="equalizerGuides"
                        :label-render-x="unitRender"
                        :label-render-y="percentRender"
                        :axis-title-x="metricName"
                        axis-title-y="Likelihood"></plot-2d-component>
            <h2>Fine Tune</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Range</th>
                        <th colspan="2">Likelihood</th>
                    </tr>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th colspan="2">
                            <button @click="setFrequencies(config.slider.min)">Min</button>
                            <button @click="setFrequencies(config.slider.default)">Default</button>
                            <button @click="setFrequencies(config.slider.max)">Max</button>
                        </th>
                        <th>Likelihood</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(b, i) of buckets">
                        <td>{{ toFixed(b.min) }}</td>
                        <td>{{ toFixed(b.max) }}</td>
                        <td>
                            <div class="freq-indicator" :style="freqIndicatorStyle(i)"></div>
                        </td>
                        <td>
                            <input type="range"
                                v-model.number="frequencies[i]"
                                :min="config.slider.min"
                                :max="config.slider.max"
                                :step="config.slider.step">
                        </td>
                        <td>
                            {{  toFixed(b.probability, 2) }}%
                        </td>
                    </tr>
                </tbody>
            </table>
            <button @click="addFrequency">Add</button>
            <button @click="removeFrequency">Remove</button>
        </div>

        <div class="tab-content" v-if="selectedTab === 'Percentile'">
            <h3>Sort order</h3>
            <div>
                <label>
                    <input type="radio" id="ascending" :value="true" v-model="sortAscending" />
                    Ascending
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" id="descending" :value="false" v-model="sortAscending" />
                    Descending
                </label>
            </div>

            <h2>Sorted Points</h2>
            <plot-2d-component
                :points="sortedPoints"
                :padding="[30, 100, 50, 90]"
                :guides="meanMedianGuides"
                axis-title-x="Index in the sorted array"
                :label-render-y="unitRender"
                :axis-title-y="metricName"></plot-2d-component>        

            <h2>Percentiles</h2>
            <plot-2d-component
                :points="percentiles"
                :padding="[30, 70, 50, 90]"
                :guides="meanMedianGuides"
                axis-title-x="Percentile"
                axis-title-y="Percentile value"
                :label-render-x="nthRender"
                :label-render-y="unitRender"
                is-bar-chart></plot-2d-component>
        </div>

        <div class="tab-content" v-if="selectedTab === 'Service'">
            <h2>Accumulated Failure Counter</h2>
            <plot-2d-component
                :points="accumulatedFailure"
                :padding="[30, 30, 50, 70]"
                axis-title-x="Index in the dataset"
                axis-title-y="Failures in the past data points"></plot-2d-component>
            <h2>SLS</h2>
            <plot-2d-component
                :points="slsPoints"
                :padding="[30, 100, 50, 70]"
                :guides="slsGuides"
                :axis-title-x="'SLS of ' + slo.windowDataCount + ' data points'"
                :label-render-y="percentRender"
                axis-title-y="SLS"></plot-2d-component>
        </div>
        <div class="tab-content" v-if="selectedTab === 'Analytics'">
            <h2>Analytics</h2>
            <table>
                <thead>
                    <th></th>
                    <th>Value</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr>
                        <th>Data Count</th>
                        <td>{{ analytics.count }}</td>
                        <td>Number of elements in the dataset</td>
                    </tr>
                    <tr>
                        <th>Min {{ metricName }}</th>
                        <td>{{ analytics.min }}</td>
                        <td>Minimum number in the dataset</td>
                    </tr>
                    <tr>
                        <th>Max {{ metricName }}</th>
                        <td>{{ analytics.max }}</td>
                        <td>Maximum number in the dataset</td>
                    </tr>
                    <tr>
                        <th>Range</th>
                        <td>{{ analytics.range }}</td>
                        <td>Difference between the max and min in the randomly generated dataset</td>
                    </tr>
                    <tr>
                        <th>Mean {{ metricName }}</th>
                        <td>{{ analytics.mean }}</td>
                        <td>Average of all numbers in the dataset</td>
                    </tr>
                    <tr>
                        <th>Median {{ metricName }}</th>
                        <td>{{ analytics.median }}</td>
                        <td>Midpoint of the dataset</td>
                    </tr>
                    <tr v-for="(p, i) of analytics.percentiles">
                        <th>{{ p.name }} {{ metricName }}</th>
                        <td>{{ p.value }}</td>
                        <td>Value at index {{ p.index }} out of {{ analytics.count }}</td>
                    </tr>
                    <tr>
                        <th>Good</th>
                        <td>{{ slStats.good }}</td>
                        <td>Number of good events</td>
                    </tr>
                    <tr>
                        <th>Bad</th>
                        <td>{{ slStats.bad }}</td>
                        <td>Number of bad events</td>
                    </tr>
                    <tr>
                        <th>SLS</th>
                        <td>{{toFixed((slStats.good / slStats.total) * 100)}}%</td>
                        <td>Service Level Status over the entire dataset</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-content" v-if="selectedTab === 'Incidents'">
            <h1>Emulate an incident</h1>
            <label>
                <h2>Incident length</h2>
                <input type="range" min="1" :max="dataCount" v-model.number="incidentLength">
                {{ incidentLength }} data points
            </label>
            <label>
                <h2>Insertion Point</h2>
                <input type="range" min="0" :max="dataCount - incidentLength" v-model.number="incidentInsertionPoint">
                at point {{ incidentInsertionPoint }}
            </label>

            <div class="button-bar">
                <button @click="addIncident">Add Incident</button>
            </div>
        </div>

        <div class="tab-content" v-if="selectedTab === 'JSON Data'">
            <code class="json-data">
                {{ jsonData }}
            </code>
        </div>
    </main>
    <footer>
        <a href="https://github.com/alexewerlof/percentile">Source</a>
    </footer>
    <script type="module" src="index.js" async defer></script>
</body>
</html>