<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Percentile</title>
</head>
<body>
    <main id="app">
        <article>
            <section>
                <h2>Data Points</h2>
                <h3>Count</h3>
                <label>
                    <input type="number" min="10" max="10000" step="10" v-model.number.lazy="dataCount">
                </label>
                <label>
                    <h3>Min Value</h3>
                    <input type="number" v-model.number.lazy="min">
                </label>
                <label>
                    <h3>Max Value</h3>
                    <input type="number" v-model.number.lazy="max">
                </label>
                <label>
                    <input type="checkbox" v-model.boolean="onlyInt"> Only integers
                </label>
                <h3>Sort order</h3>
                <div>
                    <label>
                        <input type="radio" id="ascending" :value="true" v-model="sortAscending" />
                        Ascending
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" id="descending" :value="false" v-model="sortAscending" />
                        Descending
                    </label>
                </div>
            </section>
            <section>
                <h2>SLI</h2>
                <h3>Good</h3>
                <h4>Lower Bound Type</h4>
                <select v-model="sli.lowerBoundType">
                    <option value="">No lower bound</option>
                    <option value="lt">&lt;</option>
                    <option value="lte">&#8804;</option>
                </select>
                <h4>Upper Bound Type</h4>
                <select v-model="sli.upperBoundType">
                    <option value="">No upper bound</option>
                    <option value="lt">&lt;</option>
                    <option value="lte">&#8804;</option>
                </select>
                <div>
                    Good:
                    <code>
                        <span v-if="sli.lowerBoundType">
                            SLO_Lower_Bound {{ boundTypeToString(sli.lowerBoundType) }}
                        </span>
                        <span> x </span>
                        <span v-if="sli.upperBoundType">
                            {{ boundTypeToString(sli.upperBoundType) }} SLO_Upper_Bound
                        </span>
                    </code>
                </div>
            </section>
            <section>
                <div>
                    <label>
                        <h2>SLO</h2>
                        <input type="range" :min="config.slo.min" :max="config.slo.max" :step="config.slo.step" v-model.number="slo.value">
                        {{ slo.value }}%
                    </label>
                </div>
                <div>
                    <label>
                        <h3>Window Length</h3>
                        <input type="range" min="1" :max="dataCount / 2" step="1" v-model.number="slo.windowDataCount">
                        {{ slo.windowDataCount }} data points
                    </label>
                </div>    
                <h3>SLO Good Bounds</h3>

                <div v-if="sli.lowerBoundType">
                    <h3>Lower Bound Threshold: {{ slo.lowerBoundThreshold }}</h3>
                    <input type="range" :min="min" :max="slo.upperBoundThreshold" v-model.number="slo.lowerBoundThreshold">
                </div>

                <div v-if="sli.upperBoundType">
                    <h3>Upper Bound Threshold: {{ slo.upperBoundThreshold }}</h3>
                    <input type="range" :min="slo.lowerBoundThreshold" :max="max" v-model.number="slo.upperBoundThreshold">
                </div>
                
                <div>
                    Good:
                    <code>
                        <span v-if="sli.lowerBoundType">
                            {{ slo.lowerBoundThreshold }} {{ boundTypeToString(sli.lowerBoundType) }}
                        </span>
                        <span> x </span>
                        <span v-if="sli.upperBoundType">
                            {{ boundTypeToString(sli.upperBoundType) }} {{ slo.upperBoundThreshold }}
                        </span>
                    </code>
                </div>
            </section>
        </article>

        <div>
            <h2>Frequency</h2>
            <button @click="setFrequencies(config.slider.min)">Min</button>
            <button @click="setFrequencies(config.slider.default)">Default</button>
            <button @click="setFrequencies(config.slider.max)">Max</button>
            <button @click="addFrequency()">Add</button>
            <button @click="removeFrequency()">Remove</button>
            {{ buckets.length }}x buckets, each representing {{ bucketRange }}
            <table class="frequency-table">
                <tbody>
                    <tr>
                        <th>Likelihood</th>
                        <th v-for="b of buckets">{{  toFixed(b.probability, 2) }}%</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th v-for="f of frequencies">
                            <div class="freq-indicator" :style="freqIndicatorStyle(f)"></div>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <td  v-for="(f,i) of frequencies">
                            <input class="vertical-slider" type="range" :min="config.slider.min" :max="config.slider.max" :step="config.slider.step" v-model.number="frequencies[i]">
                        </td>
                    </tr>
                    <tr>
                        <th>Min</th>
                        <td v-for="b of buckets">{{ toFixed(b.min) }}&lt;</td>
                    </tr>
                    <tr>
                        <th>Max</th>
                        <td v-for="b of buckets">&lt;{{ toFixed(b.max) }}</td>
                    </tr>
                </tbody>
            </table>
            <h3>Presets</h3>
            <button v-for="pre in config.slider.presets" @click="frequencies = [...pre.values]">{{ pre.name }}</button>
        </div>
        <article>
            <section>
                <h2>Likelihood</h2>
                <diagram-component
                    :points="bucketPoints"
                    :padding="[30, 40, 50, 70]"
                    :guides="equalizerThresholds"
                    axis-title-x="Value"
                    axis-title-y="Likelihood"></diagram-component>
            </section>
            <section>
                <h2>Sorted Points</h2>
                <diagram-component
                    :points="sortedPoints"
                    :padding="[30, 100, 50, 90]"
                    :guides="sloThresholds"
                    axis-title-x="Index in the sorted array"
                    axis-title-y="Value"></diagram-component>        
            </section>
        </article>

        <tabs-component v-model:selected-tab="selectedTab" :tab-names="tabNames"></tabs-component>

        <div class="tab-content" v-if="selectedTab === 0">
            <h2>Random Points</h2>
            <diagram-component
                :points="randomPoints"
                :padding="[30, 100, 50, 90]"
                :guides="sloThresholds"
                axis-title-x="Index"
                axis-title-y="Value"></diagram-component>

            <h2>Percentiles</h2>
            <diagram-component
                :points="percentiles"
                :padding="[30, 70, 50, 90]"
                axis-title-x="Percentile"
                axis-title-y="Percentile value"
                is-bar-chart></diagram-component>
        </div>

        <div class="tab-content" v-if="selectedTab === 1">
            <diagram-component
                :points="slsPoints"
                :padding="[30, 100, 50, 70]"
                :guides="slsGuides"
                :axis-title-x="'SLS of ' + slo.windowDataCount + ' data points'"
                axis-title-y="SLS"></diagram-component>

            <h2>Accumulated Failure Counter</h2>
            <diagram-component
                :points="accumulatedFailure"
                :padding="[30, 30, 50, 70]"
                axis-title-x="Index in the dataset"
                axis-title-y="Failures in the past data points"></diagram-component>
        </div>
        <div class="tab-content" v-if="selectedTab === 2">
            <h2>Analytics</h2>
            <table>
                <thead>
                    <th></th>
                    <th>Value</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr>
                        <th>Count</th>
                        <td>{{ analytics.count }}</td>
                        <td>Number of elements in the dataset</td>
                    </tr>
                    <tr>
                        <th>Min</th>
                        <td>{{ analytics.min }}</td>
                        <td>Minimum number in the dataset</td>
                    </tr>
                    <tr>
                        <th>Max</th>
                        <td>{{ analytics.max }}</td>
                        <td>Maximum number in the dataset</td>
                    </tr>
                    <tr>
                        <th>Range</th>
                        <td>{{ analytics.range }}</td>
                        <td>Difference between the largest and smallest number in the dataset</td>
                    </tr>
                    <tr>
                        <th>Mean</th>
                        <td>{{ analytics.mean }}</td>
                        <td>Average of all numbers in the dataset</td>
                    </tr>
                    <tr>
                        <th>Median</th>
                        <td>{{ analytics.median }}</td>
                        <td>Midpoint of the dataset</td>
                    </tr>
                    <tr v-for="(p, i) of analytics.percentiles">
                        <th>{{ p.name }}</th>
                        <td>{{ p.value }}</td>
                        <td>Value at index {{ p.index }} out of {{ analytics.count }}</td>
                    </tr>
                    <tr>
                        <th>Good</th>
                        <td>{{ slStats.good }}</td>
                        <td>Number of good events</td>
                    </tr>
                    <tr>
                        <th>Bad</th>
                        <td>{{ slStats.bad }}</td>
                        <td>Number of bad events</td>
                    </tr>
                    <tr>
                        <th>SLS</th>
                        <td>{{toFixed((slStats.good / slStats.total) * 100)}}%</td>
                        <td>Service Level Status over the entire dataset</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-content" v-if="selectedTab === 3">
            <code class="json-data">
                {{ jsonData }}
            </code>
        </div>
    </main>
    <footer>
        <a href="https://github.com/alexewerlof/percentile">Source</a>
    </footer>
    <script type="module" src="index.js" async defer></script>
</body>
</html>