@import url('variables.css');

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--body-font-family);
    margin: 1em;
    padding: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 50vh;
}

h1, h2, h3, h4, h5, h6, th {
    font-family: var(--title-font-family);
    color: var(--primary-color);
}

#data-tables {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

a, a:hover, a:visited {
    color: inherit;
}

table {
    height: fit-content;
}

th {
    text-align: left;
}

tr:hover {
    background-color: var(--background-lighter);
}

button {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: none;
    padding: 0.5em 1em;
    font-family: var(--title-font-family);
    cursor: pointer;
    transition: background-color var(--animation-speed);
}

button:hover {
    background-color: var(--primary-color);
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section {
    margin: 1em;
    flex: 1;
}

.slider-value {
    display: inline-block;
    width: 100px;
    padding-left: 1em;
    text-align: right;
}

.random-numbers .diagram__axis--x .tick {
    display: none;
}

.vertical-slider {
    writing-mode: vertical-lr;
    direction: rtl;
}

.frequency-table td {
    width: 3em;
    text-align: center;
}