<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-pre test</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="vue-pre.css">
</head>
<body>
    <main id="app">
        <h1>Count</h1>
        <label>
             {{ dataCount}}
             <input type="range" min="10" max="10000" step="10" v-model="dataCount">
        </label>
        <article>
            <section>
                <h2>Points ({{points.length}})</h2>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Probability</th>
                            <th></th>
                            <th>Value</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td>{{ min }}</td>
                            <td><input type="number" :max="max" v-model.number="min"></td>
                        </tr>
                        <tr v-for="(p,i) in points">
                            <td>{{i+1}}</td>
                            <td>{{ p[0] }}</td>
                            <td><input type="range" min="0" max="1" step="0.01" v-model.number="p[0]"></td>
                            <td>{{ p[1] }}</td>
                            <td><input type="range" :min="min" :max="max" step="0.01" v-model.number="p[1]"></td>
                        </tr>
                        <tr>
                            <td>{{points.length + 1}}</td>
                            <td>1</td>
                            <td></td>
                            <td>{{ max }}</td>
                            <td><input type="number" :min="min" v-model.number="max"></td>
                        </tr>
                    </tbody>    
                </table>
            </section>

            <section>
                <h2>Random generator function</h2>
                <diagram-component :points="ppp" width="600" height="300" :padding="[10, 20, 50, 50]"></diagram-component>
            </section>

            <section>
                <h2>Random numbers</h2>
                <diagram-component :points="randomNumbers" width="600" height="300" :padding="[10, 20, 50, 50]"></diagram-component>
            </section>

            <section>
                <h2>Sorted random numbers</h2>
                <diagram-component :points="sortedRandomNumbers" width="600" height="300" :padding="[10, 20, 50, 50]"></diagram-component>
            </section>
        </article>
    </main>
    <script type="module" src="vue-pre.js"></script>
</body>
</html>