@import url('variables.css');

.diagram {
    background-color: transparent;
}

.diagram:hover {
    background-color: var(--background-lighter);
}

.diagram__bars,
.diagram__line {
    stroke: var(--secondary-color);
    stroke-width: 1.3;
    fill: none;
}

.diagram__bars:hover {
    stroke: var(--brand-red);
}

.diagram__axis path{
    stroke: var(--primary-color);
    stroke-width: 1.2;
    fill: none;
}

.diagram__axis .tick line {
    stroke: var(--brand-red);
    stroke-width: 1.2;
    fill: none;
}

.diagram__axis .tick text {
    fill: var(--primary-color);
    font-size: 15px;
}

.diagram__guide-line {
    stroke: var(--brand-red);
    stroke-width: 1;
}

.diagram__guide-title {
    dominant-baseline: middle;
    fill: var(--brand-red);
}

.diagram__crosshair-line--vertical,
.diagram__crosshair-line--horizontal {
    stroke: var(--brand-green);
    stroke-width: 1;
    stroke-dasharray: 3;
}

.diagram__crosshair-circle {
    fill: var(--brand-green);
}

.diagram__crosshair-label {
    fill: var(--brand-green);
    font-size: 15px;
}

.diagram__crosshair-label--x {
    text-anchor: middle;
}

.diagram__crosshair-label--y {
    text-anchor: start;
    dominant-baseline: middle;
}