@import url('variables.css');

.diagram {
    background-color: transparent;
}

.diagram:hover {
    background-color: var(--background-lighter);
}

.diagram__bars,
.diagram__line {
    stroke: var(--secondary-color);
    stroke-width: 1.2;
    fill: none;
}

.diagram__bars:hover,
.diagram__line:hover {
    stroke: var(--brand-red);
}

.diagram__axis path{
    stroke: var(--primary-color);
    stroke-width: 1.2;
    fill: none;
}

.diagram__axis .tick line {
    stroke: var(--brand-red);
    stroke-width: 1.2;
    fill: none;
}

.diagram__axis .tick text {
    fill: var(--primary-color);
    font-size: 15px;
}
